
<nz-layout class="app-layout p-10">
    <nz-sider class="menu-sidebar rounded" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null">
      <div class="sidebar-logo">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
      <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed" class="mt-5 min-h-screen"
        style="min-height: 80vh;margin-left:10px;border-radius: 15px;padding-top: 20px;">
        <li nz-menu-item nz-tooltip nzTooltipPlacement="right" nzSelected>
          <a routerLink="/admin/dashboard">
            <span nz-icon nzType="dashboard"></span>
            <span>Dashboard</span>
          </a>
        </li>
        <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
          <a>
            <span nz-icon nzType="book"></span>
            <span>Bookings</span>
          </a>
        </li>
        <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
          <a routerLink="/admin/hotels">
            <span nz-icon nzType="shop"></span>
            <span>Hotels</span>
          </a>
        </li>
        <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
          <a >
            <span nz-icon nzType="solution"></span>
            <span>Contracts</span>
          </a>
        </li>
        <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
          <a>
            <span nz-icon nzType="team"></span>
            <span>Users</span>
          </a>
        </li>
        <li nz-menu-item nz-tooltip nzTooltipPlacement="right">
          <a routerLink="/admin/supplements">
            <span nz-icon nzType="star"></span>
            <span>Supplements</span>
          </a>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header" style="padding-right: 60px;">
          <div class="w-full flex justify-center">
            <div class="sidebar-logo">
              <a href="/admin">
                <img src="../assets/images/eliteEase_color.png" alt="logo">
              </a>
            </div>
          </div>
  
          <div class="max-w-40 flex justify-end items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button type="button"
              class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
              id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
              data-dropdown-placement="bottom">
              <img class="w-8 h-8 rounded-full"
                src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg"
                alt="user photo">
            </button>
            <!-- Dropdown menu -->
            <div
              class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
              id="user-dropdown">
              <div class="px-4 py-3">
                <span class="block text-sm text-gray-900 dark:text-white">Kaneesha Siribaddana</span>
                <span class="block text-sm  text-gray-500 truncate dark:text-gray-400"></span>
              </div>
              <ul class="py-2" aria-labelledby="user-menu-button">
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
                </li>
                <li>
                  <a href="#"
                    class="block px-4 py-2 text-sm text-red-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                    out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nz-header>
      <nz-content class="mt-10 " style="border-radius:15px;">
        <div class="inner-content">
          <router-outlet ></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>