<section class="grid gap-6 my-6 md:grid-cols-3">
    <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
        <div class="flex items-center">
            <div class="flex-shrink-0">
                <span class="text-5xl leading-none font-bold text-gray-900">2,340</span>
                <h3 class="text-base font-normal text-gray-500">Registered Users</h3>
            </div>
            <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                14.6% <span nz-icon nzType="arrow-up"></span>
            </div>
        </div>
    </div>
    <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
        <div class="flex items-center">
            <div class="flex-shrink-0">
                <span class="text-5xl leading-none font-bold text-gray-900">5,355</span>
                <h3 class="text-base font-normal text-gray-500">Total Bookings</h3>
            </div>
            <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
                32.9% <span nz-icon nzType="arrow-up"></span>
            </div>
        </div>
    </div>
    <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
        <div class="flex items-center">
            <div class="flex-shrink-0">
                <span class="text-5xl leading-none font-bold text-gray-900">385</span>
                <h3 class="text-base font-normal text-gray-500">Total Hotels</h3>
            </div>
            <div class="ml-5 w-0 flex items-center justify-end flex-1 text-red-500 text-base font-bold">
                -2.7% <span nz-icon nzType="arrow-down"></span>
            </div>
        </div>
    </div>
</section>


<section class="grid gap-6 my-6 md:grid-cols-2">
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h1 class="mb-4 text-2xl font-bold leading-none tracking-tight text-gray-900  dark:text-white">Bookings | <span class="text-blue-800 dark:text-blue-900">Locations</span></h1>
        <div>
            <canvas #pieChart></canvas>
        </div>
    </div>
</section>
