<section class="mx-5 md:mx-10 lg:mx-20 ">
    <div class="flex justify-center">
        <h2 class="text-2xl font-bold dark:text-white text-blue-800 my-10">Search Results for " {{ searchParam }} "</h2>
    </div>
    
    <div class="flex justify-center my-3">
        <a href="#" class="p-2 grid grid-cols-5 gap-1  items-center bg-white border border-gray-200 rounded-lg shadow max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
            <img class="object-contain rounded-t-lg h-auto w-full rounded" src="https://images.unsplash.com/photo-1600054800747-be294a6a0d26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal col-span-3">
                <h5 class="mb-2 text-md font-bold tracking-tight text-blue-800 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
            </div>
            <div class="justify-center leading-normal">
                <h5 class="mb-2 text-xl font-bold tracking-tight text-blue-800 dark:text-white text-center">Rs 20000</h5>
                <p class="mb-3 text-xs text-center font-normal text-gray-700 dark:text-gray-400">Per Night</p>
                <div class="flex justify-center">
                    <p class="mb-3 text-xs text-center text-white p-2 w-min rounded-full font-bold bg-blue-800"> > </p>
                </div>
            </div>
        </a>
    </div>
    
</section>